In [1]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Read the dataset into python environment
data=pd.read_csv('StudentsPerformance.csv')
df=pd.DataFrame(data)

In [3]:
# Display the first 5 rows of the dataset
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33

In [21]:
# Get the information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

# 1. Find out how many males and females participated in the test.

In [4]:
df['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

# 2. What do you think about the students' parental level of education?

In [5]:
df['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [65]:
#Insight about students parental level of education
print("Most of the parents have some college education and a few have master's degree")

Most of the parents have some college education and a few have master's degree

# 3. Who scores the most on average for math, reading and writing based on

### a.Gender

In [6]:
g_score=df.groupby('gender')['math score','reading score','writing score'].mean()
print(g_score)
print(g_score.idxmax())

        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058
math score         male
reading score    female
writing score    female
dtype: object

### b. Test preparation course

In [10]:
t_score=df.groupby('test preparation course')['math score','reading score','writing score'].mean()
print(t_score)
print(t_score.idxmax())

                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944
math score       completed
reading score    completed
writing score    completed
dtype: object

# 4. What do you think about the scoring variation for math, reading and writing based on

### a.Gender

In [11]:
g_var=df.groupby('gender')['math score','reading score','writing score'].std()
print(g_var)
print(g_var.idxmin())

        math score  reading score  writing score
gender
female   16.029928      14.411018      14.844842
male     14.556411      14.149594      14.227225
math score       male
reading score    male
writing score    male
dtype: object

### b.Test preparation course

In [12]:
t_var=df.groupby('test preparation course')['math score','reading score','writing score'].std()
print(t_var)
print(t_var.idxmin())

                         math score  reading score  writing score
test preparation course
completed                 14.521847      13.537572      13.236412
none                      15.705689      14.608896      15.041667
math score       completed
reading score    completed
writing score    completed
dtype: object

# 5. The management needs your help to give bonus points to the top 25% of students based on their maths score, so how will you help the management to achieve this.

In [64]:
# Sort the data in decending order of math score
df1=df.sort_values("math score", ascending = False) 

# Find the top 25% or the upper quartile with respect to math score
upper_quantile = df1['math score'].quantile(0.75)
df2=df1.loc[df['math score']>upper_quantile]

# Add the Bonus points based on math score to help the management 
Bonus =[]
row_num =0     
for i in range(len(df2)):
    if df2['math score'].values[row_num] == 100:
        Bonus_points=20
    elif 100 > df2['math score'].values[row_num] >=90:
        Bonus_points=15
    elif 90 > df2['math score'].values[row_num] >=80: 
        Bonus_points=10
    else:
        Bonus_points=5
    Bonus.append(Bonus_points)
    row_num=row_num+1
df2["Bonus_points"]=Bonus   

# Display the data with the new column of Bonus points created
df2

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Bonus_points
999,male,group E,bachelor's degree,standard,completed,100,100,100,20
996,male,group A,some college,standard,completed,100,96,86,20
515,female,group E,some college,standard,none,100,92,97,20
517,female,group E,associate's degree,standard,none,100,100,100,20
516,female,group E,bachelor's degree,standard,none,100,100,100,20
...,...,...,...,...,...,...,...,...,...
862,male,group D,high school,free/reduced,completed,78,77,80,5
863,male,group D,some high school,standard,completed,78,81,86,5
864,male,group E,some high school,free/reduced,completed,78,83,80,5
865,male,group E,associate's degree,free/reduced,completed,78,74,72,5
430,female,group A,some college,standard,completed,78,87,91,5